body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero img {
  width: 150px;
  border-radius: 50%;
}

.buttons a {
  margin: 10px;
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skills img, .skills i {
  width: 60px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
